.card-contain{
    max-width: 70vw;
    width: 20vw;
}
.success{
    background-color: cornflowerblue;
}
  
.err{
    background-color: crimson;
}

.detail-center{
    margin: 0px auto;   
    width:max-content;
 }

 .button-cancel{
     background-color: blueviolet;
     color:#eee;
 }
 