<mat-card class="flex-field">
    <img class="list-img-item" mat-card-image [src]="user.avatar" alt="Photo ">
    <mat-card-content class="content-card">
        <h3>First Name:</h3>{{user.first_name}}
        <h3>Last Name:</h3>{{user.last_name}}
        <h3>Email:</h3> {{user.email}} 
        <mat-card class="err" *ngIf="isErr">Error :(</mat-card>
    </mat-card-content>
    <mat-card-actions class="content-card">
        <a mat-button color="primary" [routerLink]="['/edit',user.id]" >SHOW</a>
        <button mat-button color="warn" (click)="deleteUser(user)">DELETE</button>
    </mat-card-actions>
    
</mat-card>