.list-img-item {
  width: 200px;
  height: auto;
}
.flex-field {
  display: inline-flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.content-card {
  width: 300px;
  max-width: 100%;
  text-align: center;
}
