<mat-sidenav-container class = "menu-container">
   <mat-sidenav mode = "side" class="side-nav" opened>
      <section class = "menu-section">
         <span><a routerLink="/show" routerLinkActive="active">List</a></span>
      </section>
      <section class = "menu-section">
        <span><a routerLink="/create" routerLinkActive="active">Create</a></span>
       </section>
      <section class = "menu-section">
        <span><a routerLink="/about" routerLinkActive="active">About us</a></span>
      </section>
   </mat-sidenav>
   <mat-sidenav-content>      
      <div class="contain">
         <router-outlet></router-outlet>        
      </div>       
   </mat-sidenav-content>
</mat-sidenav-container>