.menu-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: indigo;
  color: white;
}
.side-nav {
  background-color: blueviolet;
}
a {
  color: white;
}
.menu-section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
  width: 130px;
  padding: 4px;
}
.contain {
  height: 100vh;
  padding: 20px;
}
