
<mat-sidenav-container class = "menu-container">
    <mat-sidenav mode = "side" opened>
       <section class = "menu-section">
          <span>Crear</span>
       </section>
       <section class = "menu-section">
        <span>Listar</span>
        </section>
       <section class = "menu-section">
          <span>Editar</span>
       </section>
    </mat-sidenav>
    <mat-sidenav-content>
        <!-- <router-outlet></router-outlet> -->
        <app-show></app-show>
    </mat-sidenav-content>
 </mat-sidenav-container>