
<mat-sidenav-container class = "menu-container">
    <mat-sidenav mode = "side" opened>
       <section class = "menu-section">
          <span><a routerLink="/list" routerLinkActive="active">Listar</a></span>
       </section>
       <section class = "menu-section">
         <span><a routerLink="/create" routerLinkActive="active">Crear</a></span>
        </section>
       <section class = "menu-section">
         <span><a routerLink="/about" routerLinkActive="active">Acerca de</a></span>
       </section>
    </mat-sidenav>
    <mat-sidenav-content>
        <router-outlet></router-outlet>        
    </mat-sidenav-content>
 </mat-sidenav-container>